<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>

  <connectionStrings>
      <add name="mysql" connectionString="Server=YourServerName;Database=YourDatabaseName;User Id=YourUsername;Password=YourPassword;" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
